.max-w-6xl {
    @media (max-width: 600px) {
      margin: 0;
      padding: 0.5rem;
    }
  }
  
  .mat-elevation-z8 {
    @media (max-width: 600px) {
      width: 100%;
      overflow-x: auto;
    }
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 1rem;
  
    @media (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }
  
  mat-card {
    margin: 0.5rem;
  }
  
  button[mat-raised-button] {
    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }