@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Optional compact Angular Material field overrides */
.mat-mdc-form-field {
  --mat-mdc-form-field-label-floating-padding: 0px;
  --mat-mdc-form-field-label-padding: 0px;
  --mat-mdc-form-field-subscript-wrapper-padding: 0px;
  --mat-mdc-form-field-infix-padding: 6px 8px;
  --mat-mdc-form-field-outline-thickness: 1px;
  --mat-mdc-form-field-container-height: auto;
}
